@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  animation: fadeIn .1s;
  background-color: #200a0a;

}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #381111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #140101;
}


a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}